<% @stocks.each do |e| %>
<hr>

<p>
  <%= e.message %>
  
  <% if current_user %>
    <%= link_to "削除", stock_path(e), data: { "turbo-method": :delete} %>
    <% if e.liked?(current_user) %>
      <%= link_to 'いいね削除', stock_path(e), data: { "turbo-method": :delete} %>
    <% else %>
      <%= link_to 'いいね', likes_path(stock_id: e.id), data: { "turbo-method": :post} %>
    <% end %>
  <% end %>
</p>
<% end %>

<hr>


<div>
  <%= link_to "新規追加", stocks_new_path %>
</div>


<div>
  <%= button_to "素材一覧", 'stocks/show' %>
</div>


<% if session[:login_uid] %>
  <p><%= link_to 'ログアウト', top_logout_path %></p>
<% else %>
  <p><%= link_to 'ログイン', top_main_path %></p>
<% end %>

<!--<p><%= link_to 'ユーザ一覧', users_path %></p>-->

<% if @stock && @stock.image.attached? %>
  <%= image_tag @stock.image %>
<% end %>