<!--<% @users.each do |e| %>-->
<!--<p>-->
    <!--UID： <%= e.uid %><br>-->
    <!--PASS： <%= e.pass %><br>-->
    <!--<%= link_to "削除", user_path(e), data: { "turbo-method": :delete } %>-->
<!--</p>-->
<!--<% end %>-->

<p>
    users/index.html.erb
    <!--<%= link_to "新規登録", new_user_path %>-->
</p>

<hr>
<p>
    <%= link_to "コメント一覧", comments_path %>
</p>
